* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10.24px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter", sans-serif;
  line-height: 1.75;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

.container {
  padding: 2%;
  display: flex;
  align-items: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  max-width: 1200px;
  background-color: #000;

  & FontAwesomeIcon,
  h4 {
    display: inline-block;
    margin: 8px;
  }
}

.box {
  width: 550px;
  height: 868px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #23252c;

  &:nth-child(1) {
    margin-right: 33px;
    margin-bottom: 39px;
  }
}

.card {
  width: 317px;
  height: 780px;
  border-radius: 10px;
  background-color: #fff;

  & .profile--photo {
    height: 317px;
    & img {
      width: 100%;
      border-radius: 10px 10px 0 0;
    }
  }

  & .profile--main {
    height: 399px;
  }

  & .profile--main--title {
    margin: 21px 0 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  & .profile--main--buttonArea {
    display: flex;
    align-items: center;
    justify-content: space-around;

    & button {
      width: 115px;
      height: 38px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid#d1d5db;
      border-radius: 6px;
      background-color: #fff;
      color: #374151;
    }
  }

  & .profile--main--info {
    width: 247px;
    height: 201px;
    margin: 0 35px 24px 35px;
    & h4 {
      margin-left: 0px;
    }
    & p {
      line-height: 15.36px;
    }
  }

  .profile--footer {
    height: 64px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 0 10px 10px;

    & button {
      padding-left: 12px;
      border: none;
      background-color: transparent;

      & h4 {
        color: #918e9b;
      }
    }
  }
}

.buttonEmail {
  & .profile--main {
    .profile--main--buttonArea > button {
      width: 247px;
    }
  }
}

.light {
  & h2,
  h4 {
    color: #2b283a;
  }
  & p {
    color: #4a4e74;
  }
  & .profile--main--title {
    & h5 {
      color: #f47d27;
    }
  }

  & button.Linkedin {
    background-color: #297fe5;
    border: none;
    & h4 {
      color: #fff;
    }
  }

  & .profile--footer {
    background-color: #d5d4d8;
  }
}

.dark {
  background-color: #1a1b21;
  & h2 {
    color: #fff;
  }

  & .profile--main--info > h4 {
    color: #f5f5f5;
  }
  & p {
    color: #dcdcdc;
  }
  & .profile--main--title {
    & h5 {
      color: #f3bf99;
    }
  }

  & button.Linkedin {
    background-color: #297fe5;
    border: none;
    & h4 {
      color: #fff;
    }
  }

  & .profile--footer {
    background-color: #161619;
  }
}
